extends layout

block content  
  ul
    li #{currentmedicine.name}
    li #{currentmedicine.disease}
    li #{currentmedicine.price}
    li #{currentmedicine.companyname}
    li #{currentmedicine.quantity}
    li #{currentmedicine.type}
    li #{currentmedicine.effectiveness}